
MvcOnlineTicariOtamasyon/MvcOnlineTicariOtamasyon/obj/Debug/MvcOnlineTicariOtamasyon.csprojAssemblyReference.cache
MvcOnlineTicariOtamasyon/.vs/VSWorkspaceState.json
MvcOnlineTicariOtamasyon/.vs/slnx.sqlite
MvcOnlineTicariOtamasyon/.vs/MvcOnlineTicariOtamasyon/v16/.suo
MvcOnlineTicariOtamasyon/.vs/MvcOnlineTicariOtamasyon/config/applicationhost.config
